{# roles/build_report_container/templates/04_report.j2 #}
{% extends "00_base.j2" %}

{% block title %}
{{ report_type|title }} Patching Report - {{ date_stamp }}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="{% if date_stamp %}../{% endif %}index.html">Home</a></li>
    <li class="breadcrumb-item"><a href="{% if date_stamp %}../{% endif %}#{{ date_stamp }}">Reports</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ report_type|title }} Patching Report</li>
  </ol>
</nav>
{% endblock %}

<body>
  {% include 'header.j2' %}
  <section>
    <center>
      <h1>Ansible Network Automation Example Report</h1>
    </center>
    <table class="main_net_table">
      <thead>
        <tr>
          <th>Network Device</th>
          <th>Layer 1</th>
          <th>Layer 2</th>
          <th>Layer 3</th>
        </tr>
      </thead>
      <tbody>
        {% for network_switch in groups['network']|sort %}
        {% if hostvars[network_switch].ansible_facts.network_resources is defined %}
        <tr>
          <td class="summary_info">
            <div id="hostname">
              <p class="hostname"><img class="router_image" src="router.png" alt="picture of network device">{{
                hostvars[network_switch].ansible_net_hostname }}</p>
            </div>
            <div id="net_info_div">
              <table class="net_info">
                <tbody>
                  <tr>
                    <td>Platform</td>
                    <td class="sub_net_info">{% set ansible_network_os = hostvars[network_switch]['ansible_net_system']
                      %}{{ vendor[ansible_network_os]}} {{hostvars[network_switch]['ansible_net_system'] }}</td>
                  </tr>
                  <tr>
                    <td>Code Version</td>
                    <td class="sub_net_info">{{ hostvars[network_switch]['ansible_net_version'] }}</td>
                  </tr>
                  <tr>
                    <td>Model</td>
                    <td class="sub_net_info">{{ hostvars[network_switch]['ansible_net_model'] }}</td>
                  </tr>
                  <tr>
                    <td>Serial Number</td>
                    <td class="sub_net_info">{{ hostvars[network_switch]['ansible_net_serialnum'] }}</td>
                  </tr>
                </tbody>
              </table>


              {% include '05_ansible.j2' %}
            </div>



          </td>

          <td>
            {% include '06_interfaces.j2' %}
          </td>
          <td>
            {% include '07_vlans.j2' %}
            {% include '08_lldp_interfaces.j2' %}
            {% include '09_l2_interfaces.j2' %}
          </td>
          <td>
            {% include '10_l3_interfaces.j2' %}
            {% include '11_lacp.j2' %}
            {% include '12_static.j2' %}
            {% include '13_bgp.j2' %}
            {% include '14_bgp_address_family.j2' %}
            {% include '15_ospf.j2' %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <center>
      <p>Created with</p><br><img src="webpage_logo.png" width="300" alt="red hat ansible automation platform logo">
      <p>The source code to create this report can be found at <a
          href="https://github.com/network-automation/toolkit">https://github.com/network-automation/toolkit</a><br><br>
        If you are new to Ansible Automation check out the following links:<br>
        <a href="https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html">Getting Started</a><br>
        <a target="_blank" href="https://ansible.com/workshops">Free hands-on workshops</a><br>
        <a href="https://youtube.com/ansibleautomation">Youtube Videos</a><br>
      </p>
    </center>
  </section>
  </div>
</body>