{# roles/build_report_container/templates/05_ansible.j2 #}
<!-- INTERNAL TABLE FOR Ansible -->
<div id="accordion">
  <div>
    <h3>Ansible Automation Platform Info</h3>
    <div class="net_content">
      <table class="table table-sm table-striped">
        <table id="subtable">
          <thead>
            <tr>
              <th>Ansible user</th>
              <th>Transport</th>
              <th>Ansible Mgmt IP</th>
              <th>Ansible groups</th>
              <th>Ansible core version</th>
              <th>Ansible Python</th>
              <th>Python version</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ hostvars[network_switch]['ansible_user'] | default("Unknown") }}</td>
              <td>{% set ansible_connection = hostvars[network_switch]['ansible_net_api'] %}{{
                transport[ansible_connection] }}</td>
              <td>{{ hostvars[network_switch]['ansible_host']|default("Unknown") }}</td>
              <td>{% for group in hostvars[network_switch]['group_names'] %}{{ group }} {% endfor %}</td>
              <td>{% for group in hostvars[network_switch]['ansible_version']['string']|default("Unknown") %}{{ group }}
                {% endfor %}</td>
              <td>{{ hostvars[network_switch]['ansible_playbook_python']|default("Unknown") }} </td>
              <td>{{ hostvars[network_switch]['ansible_net_python_version']|default("Unknown") }}</td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
  </div>
</div>
<!-- END INTERNAL TABLE FOR Ansible -->