{# roles/build_report_container/templates/report.j2 #}
{% extends "base.j2" %}

{% block breadcrumb %}
Home / Reports / {{ report_type|title }} Patching Report
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <section>
    <div class="text-center mb-5">
      <h1 class="display-4">Switch Firmware {% if report_type == 'pre' %}Pre{% else %}Post{% endif %}-Patching Report
      </h1>
    </div>

    <div class="accordion" id="networkAccordion">
      <table class="table table-striped table-hover">
        <thead class="table-dark sticky-top">
          <tr>
            <th scope="col" style="width: 25%">Network Device</th>
            <th scope="col" style="width: 25%">Layer 1</th>
            <th scope="col" style="width: 25%">Layer 2</th>
            <th scope="col" style="width: 25%">Layer 3</th>
          </tr>
        </thead>
        <tbody>
          {% for network_switch in groups['network']|sort %}
          {% if hostvars[network_switch].ansible_facts.network_resources is defined %}
          <tr>
            <td>
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <img class="router_image me-3" src="../network-switch-{{ report_type }}-patching.png"
                      alt="picture of network device" style="width: 50px;">
                    <h5 class="card-title mb-0">{{ hostvars[network_switch].ansible_net_hostname }}</h5>
                  </div>
                  <div id="net_info_div">
                    <table class="table table-sm">
                      <tbody>
                        <tr>
                          <td class="fw-bold">Platform</td>
                          <td>{% set ansible_network_os = hostvars[network_switch]['ansible_net_system'] %}{{
                            vendor[ansible_network_os]}} {{hostvars[network_switch]['ansible_net_system'] }}</td>
                        </tr>
                        <tr>
                          <td class="fw-bold">Code Version</td>
                          <td>{{ hostvars[network_switch]['ansible_net_version'] }}</td>
                        </tr>
                        <tr>
                          <td class="fw-bold">Model</td>
                          <td>{{ hostvars[network_switch]['ansible_net_model'] }}</td>
                        </tr>
                        <tr>
                          <td class="fw-bold">Serial Number</td>
                          <td>{{ hostvars[network_switch]['ansible_net_serialnum'] }}</td>
                        </tr>
                      </tbody>
                    </table>

                    {% include 'ansible.j2' %}
                  </div>
            </td>

            <td>
              {% include 'interfaces.j2' %}
            </td>
            <td>
              {% include 'vlans.j2' %}
              {% include 'lldp_interfaces.j2' %}
              {% include 'l2_interfaces.j2' %}
            </td>
            <td>
              {% include 'l3_interfaces.j2' %}
              {% include 'lacp.j2' %}
              {% include 'static.j2' %}
              {% include 'bgp.j2' %}
              {% include 'bgp_address_family.j2' %}
              {% include 'ospf.j2' %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
  </section>
</div>
{% endblock %}